.flag {
  @media (min-width: 768px) {
    height: 7rem;
    width: 7rem;
  }
  @media (min-width: 992px) {
    height: 10rem;
    width: 10rem;
  }
  height: 5rem;
  width: 5rem;
}
.active {
  background-color: var(--primary);
  color: white;
  border-color: var(--primary)
}
.hidden {
  display: none;
}

.octopus-answer {
  @media (min-width: 768px) {
    min-width: 20rem;
    max-width: 25rem;
  }
  @media (min-width: 992px) {
    min-width: 25rem;
    max-width: 35rem;
  }
  position: relative;
  min-width: 15rem;
  max-width: 20rem;
  color: white;
  background: rgb(14,48,139);
  background: linear-gradient(144deg, rgba(14,48,139,1) 0%, rgba(58,104,226,1) 34%, rgba(205,0,255,1) 100%);
  font-family: 'Roboto Slab';
  &:before {
    position: absolute;
    width: .875rem;
    height: .875rem;
    top: 1.25rem;
    left: -.375rem;
    margin-top: 0;
    margin-left: 0;
    background: rgb(20 58 158);
    content: "";
    transform: rotate(45deg);
    z-index: 1;
  }
}

.loader {
  display: inline-block;
  width: 18px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(circle closest-side,#fff 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/6) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}