.top-panel, .bottom-panel {
  display: none;
  &.opened {
    display: block;
  }
}
.dashboard-with-filter-panel {
  width: 100%;
}
/* Userflow is only necessary for the Luzmo hosted showcases */
.userflow-filter-panel {}