<div class="p-4">
    <mat-form-field class="w-full">
        <mat-label>Include data if it matches</mat-label>
        <mat-select [value]="selectedFilterOption()" (valueChange)="chartService.setFilterOperator($event)">
            @for (option of filterOptions; track option) {
                <mat-option [value]="option.value">{{option.label}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    @for (filter of chartService.filters(); track filter) {
        <div (click)="onClickFilter($index, filter)" class="flex items-center border border-violet-300 rounded-md text-violet-700 text-sm p-2 mb-1 bg-violet-100 select-none">
            <div class="flex items-center truncate">
                <mat-icon fontSet="material-symbols-outlined" class="mr-2 flex-shrink-0">
                    {{ columnTypeIcons[filter.type] }}
                </mat-icon>
                <div class="truncate flex-grow">{{ filter.label.en }}</div>
                @if (!filter.filter) {
                    <mat-icon matTooltip="This filter has no expression defined! Click on the item to add one." [matTooltipPosition]="'above'" fontSet="material-symbols-outlined" class="ml-2 flex-shrink-0">
                        warning
                    </mat-icon>
                }
            </div>
            <mat-icon
                    fontSet="material-symbols-outlined"
                    class="mr-2 cursor-pointer flex-shrink-0"
                    (click)="removeColumnFromFilters($event, $index)">delete</mat-icon>
        </div>
    }
    <div
            class="border border-dashed border-slate-300 rounded-sm bg-slate-100 text-slate-400 py-2 text-sm text-center select-none"
            id="data-drop-filter"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            cdkDropListConnectedTo="column-list">
        <div>Drag filter fields here</div>
    </div>
</div>
