<div class="p-4 px-5">
  @if (showAI) {
    <div class="mb-3">
      <mat-icon fontSet="material-symbols-outlined" class="cursor-pointer icon-20" (click)="showAI = false">arrow_back</mat-icon>
    </div>
    <app-ai-chart (status)="setAIStatus($event)"></app-ai-chart>
  }
  @if (!showAI || (!aiStatus.generating && aiStatus.generated && !aiStatus.error)) {
    <app-chart-picker 
      [hideAI]="showAI"
      (aiClick)="showAI = $event">
    </app-chart-picker>
    <app-slots-display
      [authKey]="authKey"
      [authToken]="authToken"
      [itemType]="chartService.type()"
      [slots]="chartService.slots()"
      (slotsChanged)="onSlotsChanged($event)"
    ></app-slots-display>
  }
</div>
