/* Userflow is only necessary for the Luzmo hosted showcases */
userflow-drag-n-drop {
}

.react-resizable-handle {
  background-image: none;
  padding: 0;
  color: yellow;
}

.react-resizable-handle::after {
  content: "";
  position: absolute;
  right: -3px !important;
  bottom: -3px !important;
  width: 16px !important;
  height: 16px !important;
  border-right: 3px solid rgba(206, 146, 216, 1) !important;
  border-bottom: 3px solid rgba(206, 146, 216, 1) !important;
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.flexComponent:hover .react-resizable-handle::after {
  opacity: 1;
}
