/* Userflow is only necessary for the Luzmo hosted showcases */
userflow-drag-n-drop {
}

.MuiButtonBase-root + .MuiButtonBase-root {
  margin-left: 20px;
}
.react-resizable-handle {
  border-right: 3px solid rgba(0, 0, 0, 0) !important;
  border-bottom: 3px solid rgba(0, 0, 0, 0) !important;
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.react-resizable-handle::after {
  right: 0px !important;
  bottom: 0px !important;
  width: 16px !important;
  height: 16px !important;
  border-right: 3px solid rgba(206, 146, 216, 1) !important;
  border-bottom: 3px solid rgba(206, 146, 216, 1) !important;
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.flexComponent:hover .react-resizable-handle {
  opacity: 1;
}

.flexComponent:hover .react-resizable-handle::after {
  opacity: 1 !important;
}
