# Compiled output
/dist
/tmp
/out-tsc

# Node
/node_modules
npm-debug.log
yarn-error.log

# Angular cache
/.angular/cache

# Environment
.env

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace

# Miscellaneous
.sass-cache/
/coverage
.DS_Store
Thumbs.db
